<launch>
	<!-- ========================================================== -->
	<!-- Source images for Kinefly.                                 -->
	<!-- ========================================================== -->
    <param name="use_sim_time"                 type="bool" value="false"/>


    <include file="$(find magnotether)/launch/camera_launch.launch" />
    <include file="$(find magnotether)/launch/camera_parameters_launch.launch"                     ns="camera" />


</launch>
